@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}
@layer utilities {
  .text-shadow {
    text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
  }
}
body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
    to right,
    transparent,
    rgb(0, 0, 0)
  )
    rgb(16, 10, 0)
}

section {
  @apply w-full md:py-12 py-6;
}
main section:first-of-type {
  @apply pt-0;
}
main section.banner {
  @apply p-0 m-0;
}